@model GalleryPhotoViewModel
@using WoodCarvingCamp.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager

<div class="container">
	<div class="row">
		<div>
			<h2 class="text-center">@Model.Title</h2>
			<img class="d-block w-100" id="photoId" src="@Model.ImageUrl">
			@if (User.IsAdmin())
			{
				<a asp-controller="Gallery" asp-action="Delete" asp-route-id="@Model.Id"
			   class="btn btn-danger">Delete</a>
			}
		</div>
		<div>
			<div class="add-comment-thread">
				@if(SignInManager.IsSignedIn(User))
				{
					<form asp-controller="Comment" asp-action="Add" asp-route-id="@Model.Id" method="post">
						<div class="add-comment-inputs">
							<label asp-for="Description"><strong>Add Comment</strong></label>
							<input asp-for="Description" value="" placeholder="Comment here..." rows="3" aria-required="true">

						</div>
						<button type="submit" class="btn btn-primary" value="Add">Comment</button>
					</form>
				}
				else
				{
					<p>You need to be logged in to leave a comment. - <a class="navbar-brand" asp-area=""asp-controller="User" asp-action="Login">Login</a></p>
				}		
			</div>
			<div>
				<div class="comment-thread">
					<h5 class="text-center" style="color: black">Comments</h5>
					@if (Model.Comments.Any())
					{
						<!---Comments--->
						@foreach (var comment in Model.Comments)
						{
							<div class="comment" id="comments">
								<div class="comment-heading">									
									<p class="comment-author"><strong>@comment.CreatorName:</strong></p>	
									<p>@comment.CreatedOn.ToShortDateString()</p>
									
								</div>
								<div class="comment-body">
									<p>- @comment.Description</p>
								</div>
								@if (User.UserId() == @comment.CreatorId.ToString() || User.IsAdmin())
								{
									<a asp-controller="Comment" asp-action="Delete" asp-route-id="
										@comment.Id" class="btn btn-danger">Delete</a>

								}
							</div>
							<hr style="border-top: 2px solid black;">
						}
					}
					else
					{
						<p class="text-center" style="color: black">No comments yet!</p>
					}
				</div>
			</div>
		</div>
	</div>
</div>