@model GalleryPhotoViewModel


<div class="container" >
    <div class="row">
        <div class="col-4">
            <img class="card-img-top" style="width: 20rem;"
                 src="@Model.ImageUrl">
        </div>
        <div class="card col-10 border-0">
                  
            <p>@Model.Description</p>
            <div class="form-control">
                <div>
                    <form asp-controller="Comment" asp-action="Add" asp-route-id="@Model.Id" method="post">
                       <div class="mb-3">
			            <label asp-for="Description" >Add Comment</label>
			            <textarea asp-for="Description" class="form-control" rows="3" aria-required="true"></textarea>
			            
		                </div>
                        <button type="submit" class="btn btn-primary" value="Add">Comment</button>
                    </form>

                </div>
            </div>
            <div>
                @if (Model.Comments.Any())
                {
                    @foreach (var comment in Model.Comments)
                    {
                        <p>@comment.Description</p>
                        <br />
                        @if (User.UserId() == @comment.CreatorId.ToString() || User.IsAdmin())
                        {
                            <a asp-controller="Comment" asp-action="Delete" asp-route-id="
                                    @comment.Id" class="btn btn-danger">Delete</a>
                            
                        }
                    }
                    
                }
                else
                {
                    <p>No comments yet!</p>
                }
            </div>
        </div>
    </div>
</div>