@model IEnumerable<CarvingCourseAllViewModel>

@{
	ViewBag.Title = "Carving courses";
}
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<h2 class="text-center">@ViewBag.Title</h2>
@if (User.IsAdmin())
{
	<div>
		<div class="d-grid gap-2 col-6 mx-auto">
			<a asp-controller="Course" asp-action="Add" class="btn btn-primary">Add Course</a>
		</div>
	</div>	
}	
@if (Model.Any())
{
	<div class="col">

		@foreach (var course in Model)
		{
			<div class="card" style="width: 25rem;">
					<h5 class="card-title">@course.Name</h5>					
				<img src="@course.ImageUrl" class="card-img-top">
				<div class="card-body">
					<button  type="button" class="addbtn" data-bs-toggle="collapse" data-bs-target="#collapseExample-@course.Id" aria-expanded="false" aria-controls="collapseExample">
						Details
					</button>			
					<!-- Modal -->
					<div class="modal fade" id="deleteModal-@course.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h1 class="modal-title fs-5" id="exampleModalLabel">Are you sure you want to delete @course.Name</h1>
									<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
									<a asp-controller="Course" asp-action="Delete" asp-route-id="@course.Id"
							   class="btn btn-danger">Delete</a>
								</div>
							</div>
						</div>
					</div>
					<!-- Modal -->	
					<div class="collapse" id="collapseExample-@course.Id">
						<div>
							<ul>
								<li>
									@course.Description
								</li>
							</ul>							
							<br>
							@if (@course.Price == null)
							{
								<p>Price: <strong>Free!</strong></p>
							}
							else
							{
								<p>Price: <strong>$@course.Price</strong></p>								
								<button type="button" class="btn btn-success">Purchase</button>
							}
							@if (User.IsAdmin())
							{
								<a asp-controller="Course" asp-action="Edit" asp-route-id="@course.Id" class="btn btn-warning">Edit</a>
								<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#deleteModal-@course.Id">
									Delete
								</button>					
							}
						</div>
					</div>
				</div>
			</div>
		}
	</div>
}